<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>{{ page.title }}</title>
	<meta property="og:title" content="Welcome to GitHub Pages" />
	<meta property="og:locale" content="en_US" />
	<meta name="keywords" content="{{ page.keywords }}"/>
	<meta name="description" content="{{ page.description }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
	<link href="/favicon.ico" rel="bookmark icon" >
	<meta name="robots" content="noindex, nofollow">
	<link rel="canonical" href="https://98erp.github.io/" />
	<meta property="og:url" content="https://98erp.github.io/" />
	<meta property="og:site_name" content="98erp.github.io" />
	<link rel="stylesheet" href="/assets/css/style.css?v=e1bda472ebe33f41e9b6f38f2b384d1e0f7d17a2">
	<script src="/js/jquery.min.js"></script>
	<script src="/assets/js/respond.js"></script>
</head>
　　<body>
	<div id="header">
        <nav>
          <li class="fork"><a href="https://98.888.wang" target="_blank">访问98ERP试用系统</a></li>
        </nav>
    </div>
    <div class="wrapper">
      <section>
        <div id="title" style="margin:0">
          <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>
          <hr>
          <span class="credits left">{{ page.date | date:"%Y-%m-%d" }}&emsp;&emsp; <a href="https://98erp.github.io">返回主页</a></span>
          <span class="credits right">联系电话：0311-89849098/0311-89849099</span>
        </div>
       </section>
       {{ content }}
     </div>
		
		
　　</body>
</html>
